body{
    background-image: url(https://images.unsplash.com/photo-1546479828-09d4227ec6e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80)
}

.content_gen_style{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background: #d1d8e0;
    padding: 10px 20px 10px 20px;
    width: 600px;
    height:800px ;
    border-radius: 20px;
}

.head_style{
    font-family: 'Black Ops One', cursive;
    font-size: 30px;


}
.str_style{

    background-color: #778ca3;
    border: 1px solid #000000;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}
.content_style{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 20px;
}

.button_style{
    background:#4b6584;
    border: none;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    }



