body{
    background-image: url(https://images.unsplash.com/photo-1546479828-09d4227ec6e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content_gen_style{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background: #d1d8e0;
    padding: 10px 20px 10px 20px;
    width: 50%;
    border-radius: 20px;
}

.head_style{
    font-family: 'Black Ops One', cursive;
    font-size: 30px;


}
/* .result_style{
    margin-left: 46px;
    margin-top: 15px; 
} */

.str_style{
    color: white;
    font-size: 16px;
    background-color: #778ca3;
    border-bottom: 5px inset #1C6EA4;
    border-radius: 0px 30px 0px 30px;   
    width: 80%;
    height: 100px;
    margin: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 10px 14px 6px 0px rgba(0,0,0,0.12);
}
.content_style{
    
    font-size: 20px;
    
}

.button_style{
    background:#4b6584;
    border: none;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-size: 20px;
    transition-duration: .5s;
    margin-top: 15px;
    width: 200px;
    }
.button_style:hover {
    background: white;
    border: 1px solid #d1d8e0;
    color: black;
    cursor: pointer;
}

